Untitled Folder/admin1/workspace/New Project/src/flows/Account_flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Account flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Account_New</name>
        <label>Account_New</label>
        <locationX>118</locationX>
        <locationY>133</locationY>
        <assignRecordIdToReference>acc</assignRecordIdToReference>
        <connector>
            <targetReference>Opport</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Contact2</name>
        <label>Contact2</label>
        <locationX>120</locationX>
        <locationY>367</locationY>
        <assignRecordIdToReference>contid</assignRecordIdToReference>
        <connector>
            <targetReference>Thanks</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name2</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Opport</name>
        <label>Opport</label>
        <locationX>119</locationX>
        <locationY>255</locationY>
        <assignRecordIdToReference>oppid</assignRecordIdToReference>
        <connector>
            <targetReference>Contact2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>acc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <dateValue>2017-03-31</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <screens>
        <name>Display_page</name>
        <label>Display page</label>
        <locationX>115</locationX>
        <locationY>12</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_New</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name2</name>
            <dataType>String</dataType>
            <fieldText>Last Name2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thanks</name>
        <label>Thanks</label>
        <locationX>347</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactID_s</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>contid</elementReference>
            </defaultValue>
            <fieldText>ContactID&apos;s</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Thanks, Your account has been created successfully.</pausedText>
    </screens>
    <startElementReference>Display_page</startElementReference>
    <variables>
        <name>acc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>contid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Last_Name2</elementReference>
        </value>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
