Untitled Folder/admin1/workspace/New Project/src/flows/Dynamic_Account_s_Contact_Creation-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>If_account_name_has_been_selected</name>
        <label>If account name has been selected</label>
        <locationX>168</locationX>
        <locationY>116</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_s_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>disp4</targetReference>
            </connector>
            <label>Is selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_textbox_is_not_null</name>
        <label>if textbox is not null</label>
        <locationX>168</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>textt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accounts_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Creation</targetReference>
            </connector>
            <label>textt</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountLists</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Dynamic Account&apos;s Contact Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dynamic Account&apos;s Contact Creation</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Contact_Creation</name>
        <label>Contact Creation</label>
        <locationX>174</locationX>
        <locationY>410</locationY>
        <assignRecordIdToReference>Accounid</assignRecordIdToReference>
        <connector>
            <targetReference>disp3</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accounts_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <screens>
        <name>disp1</name>
        <label>disp1</label>
        <locationX>168</locationX>
        <locationY>10</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_account_name_has_been_selected</targetReference>
        </connector>
        <fields>
            <name>AccountIDSelection</name>
            <fieldText>Select an Account Name on which you want to Create a Contact</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_s_List</name>
            <choiceReferences>AccountLists</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account&apos;s List</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>disp3</name>
        <label>disp3</label>
        <locationX>422</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Disp2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Thankyou,Your contact has been Created.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>disp4</name>
        <label>disp4</label>
        <locationX>167</locationX>
        <locationY>235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>if_textbox_is_not_null</targetReference>
        </connector>
        <fields>
            <name>storingaccountid</name>
            <fieldText>Processing,Please wait...</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>accounts_id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>accntid</elementReference>
            </defaultValue>
            <fieldText>accounts id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>disp1</startElementReference>
    <variables>
        <name>accntid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountLists</elementReference>
        </value>
    </variables>
    <variables>
        <name>Accounid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
