Untitled Folder/admin1/workspace/New Project/src/flows/Dynamic_Account_s_Contact_Creation-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>AccountLists</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Namee</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Getname</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Dynamic Account&apos;s Contact Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dynamic Account&apos;s Contact Creation</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Contact_Creation</name>
        <label>Contact Creation</label>
        <locationX>168</locationX>
        <locationY>373</locationY>
        <assignRecordIdToReference>Accounid</assignRecordIdToReference>
        <connector>
            <targetReference>disp3</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accntid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Namee</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <screens>
        <name>disp1</name>
        <label>disp1</label>
        <locationX>168</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Creation</targetReference>
        </connector>
        <fields>
            <name>AccountIDSelection</name>
            <fieldText>Select an Account Name on which you want to Create a Contact</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_s_List</name>
            <choiceReferences>AccountLists</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account&apos;s List</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>disp3</name>
        <label>disp3</label>
        <locationX>359</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Disp2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Thankyou,Your contact has been Created.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>disp1</startElementReference>
    <variables>
        <name>accntid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountLists</elementReference>
        </value>
    </variables>
    <variables>
        <name>Accounid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Namee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountLists</elementReference>
        </value>
    </variables>
</Flow>
