Untitled Folder/admin1/workspace/New Project/src/flows/Email_send_to_taskmore_than_30_min-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>472</locationX>
        <locationY>367</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Thanks</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailforcase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Case still Open</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>If_the_task_exist</name>
        <label>If the task exist</label>
        <locationX>132</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>tasks_exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TaskcCreatedDateToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TaskcCreatedDateToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email</targetReference>
            </connector>
            <label>tasks exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Accountslist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accoutid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Accountname</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tasks</name>
        <dataType>String</dataType>
        <displayField>AccountId</displayField>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>accoutid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>formulafortime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>Email send to taskmore than 30 min {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email send to taskmore than 30 min</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Task_Creation</name>
        <label>Task Creation</label>
        <locationX>124</locationX>
        <locationY>166</locationY>
        <assignRecordIdToReference>accoutid</assignRecordIdToReference>
        <connector>
            <targetReference>AccountContactLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskcCreatedDateToday</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>AccountContactLookup</name>
        <label>AccountContactLookup</label>
        <locationX>122</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_the_task_exist</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accoutid</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactname</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AccountsList1</name>
        <label>Accountslist</label>
        <locationX>127</locationX>
        <locationY>43</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Task_Creation</targetReference>
        </connector>
        <fields>
            <name>Accounts_list</name>
            <choiceReferences>Accountslist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Accounts list</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thanks</name>
        <label>Thanks</label>
        <locationX>686</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Ty</name>
            <fieldText>Thanks.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>AccountsList1</startElementReference>
    <textTemplates>
        <name>emailforcase</name>
        <text>Hello {!Accountname}

We are working on your case and we will resolve the same ASAP.
Thanks.</text>
    </textTemplates>
    <variables>
        <name>Accountname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accoutid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskcCreatedDateToday</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Taskcreationdatetime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>formulafortime</elementReference>
        </value>
    </variables>
</Flow>
