Untitled Folder/admin1/workspace/New Project/src/flows/Email_Alert_to_Contact_s_Owner-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notification_Alert</name>
        <label>Email Notification Alert</label>
        <locationX>792</locationX>
        <locationY>278</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Email Notification of Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Owner_s_Email_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <dynamicChoiceSets>
        <name>AccountsName</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountsID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>contid</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Email Alert to Contact&apos;s Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Alert to Contact&apos;s Owner</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CONTACT_Record</name>
        <label>CONTACT CREATION</label>
        <locationX>84</locationX>
        <locationY>273</locationY>
        <assignRecordIdToReference>Contacid</assignRecordIdToReference>
        <connector>
            <targetReference>contactownerlookup</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>contactownerlookup</name>
        <label>contactownerlookup</label>
        <locationX>271</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ownerlookup</targetReference>
        </connector>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactOwnersid</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ownerlookup</name>
        <label>ownerlookup</label>
        <locationX>452</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cont_id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactOwnersid</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnersEmailID</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>cont_id</name>
        <label>cont id</label>
        <locationX>632</locationX>
        <locationY>275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Email_Notification_Alert</targetReference>
        </connector>
        <fields>
            <name>Your_Contact_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contacid</elementReference>
            </defaultValue>
            <fieldText>Your Contact ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>contact_Owner_s_emailId</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactOwnersid</elementReference>
            </defaultValue>
            <fieldText>contact Owner&apos;Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Owner_s_Email_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OwnersEmailID</elementReference>
            </defaultValue>
            <fieldText>Owner&apos;s Email ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Contact_Creation_Details</name>
        <label>Contact Creation Details</label>
        <locationX>87</locationX>
        <locationY>148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CONTACT_Record</targetReference>
        </connector>
        <fields>
            <name>Account_s_Name</name>
            <choiceReferences>AccountsName</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account&apos;s Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_ID</name>
            <dataType>String</dataType>
            <fieldText>Email ID</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please enter valid email id.</helpText>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Contact_Creation_Details</startElementReference>
    <textTemplates>
        <name>EmailTemplate</name>
        <text>Hello,

This is the confirmation mail regarding contact creation.Your contact has been created successfully.Your contact credentials are mentioned above:

Name:{!First_Name}
Contact ID:{!Contacid}
Phone:{!Phone_Number}</text>
    </textTemplates>
    <variables>
        <name>AccountsID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contacid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactOwnersid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnersEmailID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
