Untitled Folder/admin1/workspace/New Project/src/flows/ROLLUP_Summary_for_total_number_of_Opportunities-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>OpportunityCount</name>
        <label>OpportunityCount</label>
        <locationX>378</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>OpportunitiesCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>temp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Whether_opp_Collection_not_null</name>
        <label>Check Whether opp. Collection not null</label>
        <locationX>145</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>oppcollectn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunitiesCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>temp</targetReference>
            </connector>
            <label>oppcollectn</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountLists</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>OpportuntyAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountsNAME</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>ROLLUP Summary for total number of  Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ROLLUP Summary for total number of  Opportunities</label>
    <loops>
        <name>temp</name>
        <label>temp</label>
        <locationX>381</locationX>
        <locationY>61</locationY>
        <assignNextValueToReference>OpportunityLoopVariable</assignNextValueToReference>
        <collectionReference>OpportunitiesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OpportunityCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dispp3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>OpportunityAccountLookup</name>
        <label>OpportunityAccountLookup</label>
        <locationX>0</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dispp</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportuntyAccountID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunitiesCollection</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>728</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>disp2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportuntyAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_No_of_Opportuinties__c</field>
            <value>
                <elementReference>Oppcount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Disp1</name>
        <label>Disp1</label>
        <locationX>0</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OpportunityAccountLookup</targetReference>
        </connector>
        <fields>
            <name>Choose_an_account_to_see_total_number_of_opportunites</name>
            <choiceReferences>AccountLists</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose an account to see total number of opportunites</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>disp2</name>
        <label>disp2</label>
        <locationX>877</locationX>
        <locationY>197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thankpage</name>
            <fieldText>Thanks,Now the field has been updated.You&apos;ll be able to see total number of Opportunties.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>dispp</name>
        <label>dispp</label>
        <locationX>143</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Whether_opp_Collection_not_null</targetReference>
        </connector>
        <fields>
            <name>dispp2</name>
            <fieldText>Opportunity&apos;s AccountID:-{!OpportuntyAccountID}

      
 Total Opportunity ID&apos;s: {!OpportunitiesCollection}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>dispp3</name>
        <label>dispp3</label>
        <locationX>580</locationX>
        <locationY>195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <fields>
            <name>oppcountdispp</name>
            <fieldText>Total Number of Opportunities:-{!OpportunitiesCount}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Disp1</startElementReference>
    <variables>
        <name>AccountsNAME</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>demo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>OpportunitiesCount</elementReference>
        </value>
    </variables>
    <variables>
        <name>Oppcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>OpportunitiesCount</elementReference>
        </value>
    </variables>
    <variables>
        <name>OpportunitiesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunitiesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OpportunityLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportuntyAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
