Untitled Folder/admin1/workspace/New Project/src/flows/Send_if_an_email_exists-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>disp2</name>
        <label>disp2</label>
        <locationX>420</locationX>
        <locationY>280</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ty</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>web to case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Select_an_email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>if_contact_exists</name>
        <label>if contact exists</label>
        <locationX>164</locationX>
        <locationY>274</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>if_contact_exists2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contactid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contactid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>disp2</targetReference>
            </connector>
            <label>if contact exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>contactslist</name>
        <dataType>String</dataType>
        <displayField>Email</displayField>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>emailid</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>frstname</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contactid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>mobile</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <valueField>Email</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Send if an email exists {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send if an email exists</label>
    <processType>Flow</processType>
    <screens>
        <name>disp1</name>
        <label>disp1</label>
        <locationX>163</locationX>
        <locationY>94</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>if_contact_exists</targetReference>
        </connector>
        <fields>
            <name>Select_an_email</name>
            <choiceReferences>contactslist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an email</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ty</name>
        <label>Thanks</label>
        <locationX>612</locationX>
        <locationY>279</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dis2</name>
            <fieldText>Thanks,a contact exists with this email id.Please check your mail ID for further assistance</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>disp1</startElementReference>
    <textTemplates>
        <name>emails</name>
        <text>Hello {!frstname},

This is an email regarding your requirements,a case has been assigned to you,the credentials are,

Email:{!emailid}
Mobile:{!mobile}</text>
    </textTemplates>
    <variables>
        <name>Contactid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>frstname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
