Untitled Folder/admin1/workspace/New Project/src/flows/Send_an_email_for_tasks_if_its_30minutes_older-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email</name>
        <label>Send email</label>
        <locationX>533</locationX>
        <locationY>265</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>menitin91@gmail.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>if_open</name>
        <label>if open</label>
        <locationX>58</locationX>
        <locationY>255</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>if_task_is_in_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRuntime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WAIT</targetReference>
            </connector>
            <label>if task is in progress</label>
        </rules>
    </decisions>
    <formulas>
        <name>runtimeformula</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>Send an email for tasks if its 30minutes older {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send an email for tasks if its 30minutes older33</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>if_open</startElementReference>
    <textTemplates>
        <name>email</name>
        <text>hi,...this is n email</text>
    </textTemplates>
    <variables>
        <name>getConstTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getRuntime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Runtime</name>
        <dataType>DateTime</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StatusDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Flow Tasks</stringValue>
        </value>
    </variables>
    <variables>
        <name>Taskobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <waits>
        <name>WAIT</name>
        <label>WAIT</label>
        <locationX>327</locationX>
        <locationY>261</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>X30_min</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRuntime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getConstTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>getRuntime</elementReference>
                </value>
            </inputParameters>
            <label>30 min</label>
        </waitEvents>
    </waits>
</Flow>
