Untitled Folder/admin1/workspace/New Project/src/flows/task_status_update_missed-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>if_due_date_expired</name>
        <label>if due date expired</label>
        <locationX>557</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>if_date_expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaforduedateexceed</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_status</targetReference>
            </connector>
            <label>if date expired</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>account</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>formulaforduedateexceed</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDateTime}-{!Activityduedate}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>task status update missed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>task status update missed</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>lookuptask</name>
        <label>lookuptask</label>
        <locationX>243</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>d2</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accid</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>Activityduedate</assignToReference>
            <field>ActivityDate</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_status</name>
        <label>update status</label>
        <locationX>805</locationX>
        <locationY>287</locationY>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Statusvarible</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>d1</name>
        <label>d1</label>
        <locationX>241</locationX>
        <locationY>90</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>lookuptask</targetReference>
        </connector>
        <fields>
            <name>Account_Lists</name>
            <choiceReferences>account</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Lists</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>d2</name>
        <label>d2</label>
        <locationX>420</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>if_due_date_expired</targetReference>
        </connector>
        <fields>
            <name>accid2</name>
            <fieldText>{!accid}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>frmula</name>
            <fieldText>{!$Flow.CurrentDate}-{!Activityduedate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fr</name>
            <fieldText>{!formulaforduedateexceed}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>d1</startElementReference>
    <variables>
        <name>accid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Activityduedate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Statusvarible</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Missed</stringValue>
        </value>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>tasksDuedate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
